body {
    background-image:url("sleepybg.png");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}




h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 500;
}

.sleepyButton {
    text-align: center;
    align-content: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    
   
    
    
}

.grow {
    padding: 5px 5px 5px 5px;
    
    height: 80px;
    width: 27%;
    margin: auto;
    float: center;
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    background-color: #4a6570;
    text-align: center;
    overflow: hidden;
    justify-content: center;
    
  }

  .grow:hover {
    height: 110px;
    width: 30%;
    background-color: #4a6570;
    
  }

  #results {
    margin: auto;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    height: 80px;
    width: 27%;
    color: white;
    font-size: 30px;
    padding-top: 40px;
  }

 

  .connectButton {
      border: none;
      background: #4a6570;
      height: 100%;
      width: 100%;
      font-family: 'Quicksand', sans-serif;
      font-size: 30px;
      color: white;
      
  }





#myDIV {
    text-align: right;
    align-content: right;
    justify-content: right;
    font-family: 'Quicksand', sans-serif;
    margin-top: -250px;
    margin-right: 100px;
   
    margin-left: 900px;
    height: 340px;
    width: 400px;
    background-image: url("ledonoff.png");
    
    background-size: 100%;
    
}
